<article>
<header>
  <h2>About</h2>
</header>

<div class="content">
<p>
<em>mostly typed</em> is a weblog by
<a href="http://amitlevy.com">amit levy</a> (that's me!), where he writes about
whatever &mdash; but primarily about programming. Amit is a PhD student in
computer science and loves hearing the sound of his own voice. He also enjoys
bargain hunting and non-sequitors.
</p>

<p>
<em>mostly typed</em> is built in Haskell using the
<a href="http://simple.cx">Simple</a> web framework. The source code is
available under the LGPL <a href="https://github.com/alevy/mappend">here</a>
</p>
</div>
</article>
