<div class="login_form">
  <header><h1>Login with OpenId</h1></header>
  <form action="/auth/login" method="GET">
    <p>
      <input type="text" name="openid_identifier"
       placeholder="http://" autofocus/>
    </p>
    <p>
      <input type="submit" value="Login"/>
    </p>
  </form>
</div>
