<h2>New Post</h2>
$if(errors)$
<div id="errors">
  <h1>There were errors updating the post</h1>
  <ul>
$for(errs in errors)$$for(err in errs)$
    <li>$err$</li>
$endfor$$endfor$
  </ul>
</div>
$endif$
<form action="/dashboard/posts" method="post" acceptCharset="UTF-8">
  <input type="hidden" name="csrf_token" value="$csrf_token$">
  <p$if errors.title$ class="error"$endif$>
    <input type="text" name="title" id="title" placeholder="title"
    value="$post.postTitle$"/></p>
  <p>
  $for tag in post.postTags$<input type="hidden" name="tags[]" value="$tag$"/>
$endfor$
    <div class="input">
      <span id="tag-spans"></span>
      <span class="placeholder">
        tags (e.g. recipe, announcement, thoughts). press 'enter' to add a tag
      </span>
      <div contentEditable="true" id="tags" style="height: 1.5em">
      </div>
    </div>
  </p> 
  <div class="bubble$if errors.body$ error$endif$">
    <div class="tabs">
      <a href="#write" class="tab active">Write</a>
      <a href="#preview" class="tab">Preview</a>
      <a href="#zen" class="zen"><i class="fa fa-arrows-alt"></i></a>
      <a href="#exit-zen" class="zen active"><i class="fa fa-times"></i></a>
    </div>
    <div class="preview-content"></div>
    <div class="write-content">
      <textarea name="body" id="body" placeholder="post body...">$post.postBody$</textarea>
    </div>
  </div>
  <br/>
  <p>
    <input type="submit" value="Save Draft"/>
    <input type="submit" name="publish" value="Publish"/>
  </p>
</form>

