@import url(https://fonts.googleapis.com/css?family=Merriweather|Cantarell);

body {
  font-size: 13pt;
  font-family: "Merriweather", serif;
  background-color: #f7f7f7;
  width: 100%;
  margin: 0;
}

@media (min-width: 90em) {

  body {
    max-width: 50em;
    margin-left: 30em;
  }

}


body > header, body > section {
  background: #fff;
  margin: 0px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

body > header {
  text-align: center;
}

nav a {
  color: blue;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h2 a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: Cantarell, sans-serif;
}

article {
  padding-top: 15px;
}

article .content p {
  text-align: justify;
}

body > footer {
  display: inline-block;
  font-size: 9px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 2px;
}

body > footer a {
  display: inline-block;
  height: 20px;
  width: 60px;
  line-height: 20px;
  text-align: center;
  background-color: #770;
  border-radius: 3px 3px 0 0;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

section footer {
  font-size: small;
  text-align: center;
  border-top: 1px solid #ccc;
}

.comments {
  border-top: 1px solid #ccc;
}

ol#comments {
  padding: 0;
}

ol#comments > li {
  list-style: none;

}

.comment-author img {
  display: block;
}

.login_form input {
  display: block;
  margin-bottom: 10px;
}

p.error {
  border: 2px solid red;
  padding: 3px;
}

.post blockquote {
  margin-right: 0;
  padding: 5px;
  border-left: 3px solid #ccc;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

textarea#body {
  height: 350px;
}

#admin input, textarea {
  width: 100%;
}

input#title {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: 0px;
  border-top: 1px solid #666;
}

pre {
  padding: 15px;
  background-color: #fdf6e3;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
  overflow: auto;
}

code {
  font-family: Ubuntu Mono, monospace;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }

ol#comments {
  padding: 0px;
}

ol#comments li {
  list-style-type: none;
}

#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.login_form {
  width: 400px;
  margin: 90px auto;
  border: 10px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.login_form form {
  width: 100%;
}

.login_form input[name="openid_identifier"] {
  width: 85%;
  background: url(/images/openid-16x16.gif) no-repeat scroll 5px center;
  padding-left: 25px;
  line-height: 1.5em;
  font-size: 16pt;
}

