@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local('Inika'), url(http://fonts.gstatic.com/s/inika/v4/r3Z5gCAKW2R-pq9oz6gfZg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/inika/v4/BKu7l_qT90IBrcPZgEIfVQ.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(//themes.googleusercontent.com/static/fonts/merriweather/v6/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html {
  height: 100%;
}

body {
  font-size: 16pt;
  font-family: "Merriweather", serif;
  color: #444;
  width: 100%;
  height: 100%;
  margin: 0;
}


#wrapper > header, body > section {
  margin: 0px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

#wrapper > header {
  text-align: center;
}

#wrapper > header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrapper > header nav li {
  display: inline-block;
}

#wrapper > header nav li:before {
  content: "| ";
}

#wrapper > header nav li:first-child:before {
  content: "";
}

#wrapper > section {
  min-height: 80%;
  padding-bottom: 10px;
}

#wrapper {
    padding: 20px;
    margin: 0px auto;
}

@media screen and (min-device-width: 767px) and (min-width: 767px) {

  body {
    max-width: 50em;
    margin: 0 auto;
    font-size: 13pt;
    background-image: url('/images/monterey.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }

  #wrapper {
    background-color: white;
    margin: 40px auto;
    max-width: 600px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    padding: 70px;
  }

}

nav a {
  color: #1079AC;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h2 a {
  text-decoration: none;
  color: #1079AC;
}

h1, h2, h3, h4 {
  font-family: Inika, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

article {
  padding-top: 15px;
}

article .content p {
  text-align: justify;
}

body > footer {
  display: inline-block;
  font-size: 9px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 2px;
}

body > footer a {
  display: inline-block;
  height: 20px;
  width: 60px;
  line-height: 20px;
  text-align: center;
  background-color: #770;
  border-radius: 3px 3px 0 0;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

section footer {
  font-size: 9pt;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.comments {
  border-top: 1px solid #ccc;
}

ol#comments {
  padding: 0;
}

ol#comments > li {
  list-style: none;
  margin-bottom: 1em;
}

.comment {
  border: 1px solid #f7f7f7;
  position: relative;
  margin-left: 4em;
}

.comment:before {
  content: "";
  border-width: 12px 12px 12px 0px;
  border-style: solid;
  border-color: rgba(247, 247, 247, 0) rgba(247, 247, 247, 1);
  position: absolute;
  left: -12px;
  top: 4px;
}

.comment-author {
  background-color: #f7f7f7;
  padding: 0.5em;
}

.comment-author img {
  display: inline-block;
  position: absolute;
  left: -4em;
  top: 0px;
}

.comment-author time {
  display: inline-block;
  float: right;
}

.comment > p {
  padding-left: 0.5em;
}

.login_form input {
  display: block;
  margin-bottom: 10px;
}

#errors {
  border: 2px solid #e00;
  border-radius: 3px;
  background-color: #f7f7f7;
  font-family: Inika, sans;
  display: inline-block;
}

#errors h1 {
  margin: 0px;
  padding: 3px 15px;
  font-size: 13pt;
  color: white;
  background-color: #e00;
}

#errors ul {
  list-style: square;
}

.error {
  border: 2px solid;
  border-color: red !important;
  padding: 3px;
}

.post blockquote {
  margin-right: 0;
  padding: 5px;
  border-left: 3px solid #ccc;
}

.post time {
  font-size: smaller;
  font-style: italic;
}

label {
  font-family: Inika, sans;
}

.reference {
  font-size: 9pt;
  color: inherit;
  text-decoration: none;
  vertical-align: super;
}

.footnote {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border: 3px solid #ccc;
  border-radius: 5px;
  font-family: Inika, sans-serif;
  max-width: 20em;
}

input {
  font-family: Inika, sans-serif;
  font-size: 13pt;
  border: 1px solid #ccc;
}

textarea {
  font-family: "Merriweather", serif;
  height: 10em;
  font-size: 13pt;
  border: 1px solid #ccc;
  resize: vertical;
}

input[type="text"], input[type="email"], textarea {
  line-height: 1.5em;
  background-color: white;
  padding: 1%;
  width: 98%;
}

input[type="submit"], input[type="button"] {
  padding: 5px 10px;
  background-color: #eee;
}

input[type="submit"]:active {
  box-shadow: inset 0px 1px 1px #ccc;
}

.bubble {
  border: 3px solid #ccc;
  border-radius: 3px;
  background-color: white;
}

.bubble:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.bubble:-moz-full-screen .write-content,
.bubble:-moz-full-screen .preview-content {
  height: 90%;
  overflow-y: auto;
}

.bubble:-webkit-full-screen .write-content,
.bubble:-webkit-full-screen .preview-content {
  height: 90%;
  overflow-y: auto;
}

.bubble:-moz-full-screen textarea#body {
  height: 90%;
}

.bubble:-webkit-full-screen textarea#body {
  height: 90%;
}

.bubble .tabs {
  border-bottom: 2px solid #eee;
  padding-top: 10px;
  padding-left: 10px;
}

.bubble a.tab {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  margin-bottom: -2px;
}

.bubble a.tab.active {
  border: 2px solid #eee;
  border-bottom: 0px;
  border-radius: 5px 5px 0 0;
  background-color: white;
}

.bubble a.zen {
  float: right;
  color: inherit;
  text-decoration: none;
  display: block;
  margin-right: 15px;
  font-size: 130%;
}

.bubble a.zen.active {
  display:none;
}

.bubble .preview-content {
  display: none;
}

.bubble .write-content, .bubble .preview-content {
  padding: 10px;
}

textarea#body {
  height: 40em;
  background-color: #eee;
  border: 0px;
  border-radius: 5px;
  box-shadow: inset 0.5px 0.5px 1px 0.5px #ccc;
}

input#title {
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: 0px;
  border-top: 1px solid #666;
  width: 60%;
}

pre {
  padding: 15px;
  background-color: #fdf6e3;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ccc;
  overflow: auto;
}

code {
  font-family: Ubuntu Mono, monospace;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }

ol#comments {
  padding: 0px;
}

ol#comments li {
  list-style-type: none;
}

#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
}

.login_form {
  width: 400px;
  margin: 90px auto;
  border: 10px solid #ddd;
  padding: 20px;
  background-color: #fff;
}

.login_form form {
  width: 100%;
}

.login_form input[name="openid_identifier"] {
  width: 85%;
  background: url(/images/openid-16x16.gif) no-repeat scroll 5px center;
  padding-left: 25px;
  line-height: 1.5em;
  font-size: 16pt;
}

