<header>
  <h2>Edit Post</h2>
  <a href="/admin/posts">&larr; back</a>
</header>
$if(errors)$
<div id="errors">
  <h1>There were errors updating the post</h1>
  <ul>
$for(errs in errors)$$for(err in errs)$
    <li>$err$</li>
$endfor$$endfor$
  </ul>
</div>
$endif$
<form class="content" action="/admin/posts/$post.postId$"
  method="post" acceptCharset="UTF-8">
  <input type="hidden" name="_method" value="PUT"/>
  <input type="hidden" name="csrf_token" value="$csrf_token$">
  <p$if errors.title$ class="error"$endif$>
    <input type="text" name="title" id="title" placeholder="title"
    value="$post.postTitle$"/></p>
  <p>Slug: <strong>$post.postSlug$</strong></p>
  <div class="bubble">
    <div class="tabs">
      <a href="#write" class="tab active">Write</a>
      <a href="#preview" class="tab">Preview</a>
      <a href="#zen" class="zen"><i class="fa fa-arrows-alt"></i></a>
      <a href="#exit-zen" class="zen active"><i class="fa fa-times"></i></a>
    </div>
    <div class="preview-content"></div>
    <div class="write-content">
      <textarea name="body" id="body">$post.postBody$</textarea>
    </div>
  </div>
  <br/>
  $if post.postPostedAt$
  <input type="submit" value="Save"/>
  $else$
  <input type="submit" value="Save Draft"/>
  <input type="submit" name="publish" value="Publish"/>
  $endif$
</form>
