<h2>Posts</h2>
<div class="content">
  <table class="admin-posts-list">
    <tr>
      <th>Title</th>
      <th>Posted</th>
      <th colspan="2"></th>
    </tr>
    <tr><td colspan="4"><strong>Drafts</strong></td></tr>
    $for(post in drafts)$
    <tr>
      <td class="title" colspan="2">$post.postTitle$</td>
      <td class="action" colspan="2">
        <a href="/admin/posts/$post.postId$/edit">edit</a>
      </td>
    </tr>
    $endfor$
    <tr><td colspan="4">&nbsp;</td></tr>
    <tr><td colspan="4"><strong>Published</strong></td></tr>
    $for(post in published)$
    <tr>
      <td class="title">$post.postTitle$</td>
      <td class="date"><time>$formatTime(post.postPostedAt, "%D")$</time></td>
      <td class="action">
        <a href="/admin/posts/$post.postId$/edit">edit</a>
      </td>
      <td class="action">
        <a href="/admin/posts/$post.postId$/comments">comments</a>
      </td>
    </tr>
    $endfor$
  </table>
</div>
