<h1>sgribble</h1>

$if(errors)$
<div id="errors">
  <h1>There were errors registering</h1>
  <ul>
$for(errs in errors)$$for(err in errs)$
    <li>$err$</li>
$endfor$$endfor$
  </ul>
</div>
$endif$
<form action="/register" method="post">
  <p$if errors.username$ class="error"$endif$>
    <input type="text" name="username" value="$username$"
      placeholder="username" autofocus/>.sgribble.com
  </p>
  <p$if errors.invite_code$ class="error"$endif$>
    <input type="text" name="invite_code" placeholder="invite code"
      value="$invite_code$"/>
  </p>
  <p$if errors.password$ class="error"$endif$>
    <input type="password" name="password" value="$password$"
      placeholder="password"/>
  </p>
  <p$if errors.verify_password$ class="error"$endif$>
    <input type="password" name="verify_password" value="$verify_password$"
      placeholder="verify password"/>
  </p>
  <input type="submit" value="sign up"/>
</form>
