<h1>sgribble</h1>

<form action="/register" method="post">
  <p>
    <input type="text" name="username"
      placeholder="username" autofocus/>.sgribble.com
  </p>
$if invite_code$
    <input type="hidden" name="invite_code" value="$invite_code$"/>
$else$
  <p>
    <input type="text" name="invite_code" placeholder="invite code"/>
  </p>
$endif$
  <p>
    <input type="password" name="password" placeholder="password"/>
  </p>
  <p>
    <input type="password" name="verify_password"
      placeholder="verify password"/>
  </p>
  <input type="submit" value="sign up"/>
</form>
