<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" title="mappend Atom Feed" href="/feed" />
    <title>mappend</title>
</head>
<body>
  <header>
    <h1><a href="/">mappend</a></h1>
    <nav>
      <ul>
        <li><a href="/admin/posts">posts</a></li>
        <li><a href="/admin/posts/new">new post</a></li>
      </ul>
    </nav>
  </header>
  <section id="admin">
$yield$
  </section>
  <footer>
    <a href="/logout">logout</a>
  </footer>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
