<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <title>My Blog</title>
</head>
<body>
  <header>
    <h1><a href="/">My Blog</a></h1>
    <nav>
      <ul>
        <li><a href="/admin/posts/new" title="New Post">
          <i class="fa fa-pencil-square"></i>
        </a></li>
        <li><a href="/admin/posts" title="Posts">
          <i class="fa fa-book"></i>
        </a></li>
        <li><a href="#" title="Profile">
          <i class="fa fa-user"></i>
        </a></li>
        <li><a href="/logout" title="Logout">
          <i class="fa fa-sign-out"></i>
        </a></li>
      </ul>
      <div style="clear: all"></div>
    </nav>
  </header>
  <div id="wrapper">
$yield$
  </div>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
