<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="alternate" type="application/atom+xml" title="mostly typed Atom Feed" href="/feed" />
    $if(page.post.postTitle)$
    <title>mostly typed - $page.post.postTitle$</title>
    $else$
    <title>mostly typed</title>
    $endif$
</head>
<body>
  <div id="wrapper">
  <header>
    <h1><a href="/">mostly typed</a></h1>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li>
          <a href="/feed">
            subscribe
            <img src="/images/feed-icon.svg" height="12"/>
        </a>
      </li>
    </nav>
  </header>
  <section>
$yield$
    <footer>
      <span class="copyleft">
        &copy; <a href="http://amitlevy.com">Amit Levy</a><br/>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
      </span>
    </footer>
  </section>
  </div>
  <script src="/js/jquery-1.10.2.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
