<article class="post">
  <header>
    <h2><a href="/posts/$post.postSlug$">$post.postTitle$</a></h2>
    <time datetime="$post.postPostedAt$">$formatTime(post.postPostedAt)$</time>
  </header>
  <div class="content">
    $post.postBodyHtml$
  </div>
</article>
<div class="comments content">
  <h5>$length(comments)$ comment(s)</h5>
  <ol id="comments">
    $for(comment in comments)$
    <li>
      <div class="comment" id="comment-$comment.commentId$">
        <div class="comment-author vcard">
          <img src="$gravatar(comment.commentEmail, 48)$"/>
          <cite class="fn">$xmlEscape(comment.commentName)$</cite>
          <span class="says">says:</span>
          <time datetime="$comment.commentCommentedAt$">
            $formatTime(comment.commentCommentedAt, "%m/%d/%y")$
            $formatTime(comment.commentCommentedAt, "%l:%M%P")$
          </time>
        </div>
        <p>$xmlEscape(comment.commentComment)$</p>
      </div>
    </li>
    $endfor$
  </ol>
  <h4>Leave a comment...</h4>
  $if(errors)$
  <div id="errors">
    <h1>There were errors posting your comment</h1>
    <ul>
      $for(errs in errors)$$for(err in errs)$
      <li>$err$</li>
      $endfor$$endfor$
    </ul>
  </div>
  $endif$
  <form action="/posts/$post.postId$/comments" method="POST">
    <p$if(errors.name)$ class="error"$endif$>
      <label for="name">Name</label><br/>
      <input type="text" name="name" id="name"
        placeholder="Jane Smith" value="$comment.commentName$"/>
    </p>
    <p$if(errors.email)$ class="error"$endif$>
      <label for="email">
        Email
        <a href="#ftn-email" class="reference">
          <i class="fa fa-question-circle"></i>
        </a>
      </label><br/>
      <input type="email" name="email" id="email"
        placeholder="jane@thesmiths.net" value="$comment.commentEmail$"/>
    </p>
    <p$if(errors.comment)$ class="error"$endif$>
      <textarea name="comment">$comment.commentComment$</textarea>
    </p>
    <p><input type="submit" value="Post comment"/></p>
  </form>
</div>
<p id="ftn-email" class="footnote">
  Your e-mail won't be displayed in plaintext. It is stored for attribution,
  and used to display your <a href="https://www.gravatar.com/">Gravatar</a>. If
  you make a super interesting comment, I might e-mail you personally, but
  don't count on it.
</p>
